.welcomeBack {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 290.21px;
  height: 65.07px;
}
.headline,
.welcomeBackPlease {
  position: absolute;
  width: 313.97px;
}
.welcomeBackPlease {
  top: 53.7px;
  left: 0;
  font-size: var(--font-size-sm);
  letter-spacing: 0.03em;
  color: var(--color-dimgray-100);
  display: inline-block;
  height: 21.69px;
}
.headline {
  top: 142px;
  left: 112px;
  height: 75.39px;
  text-align: center;
  font-size: var(--font-size-15xl);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
