.passwordFormChild {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 27.89px;
  left: 0;
}
.password {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  font-weight: 500;
  display: inline-block;
  width: 74.36px;
  height: 21.69px;
}
.passwordForm {
  position: absolute;
  top: 337px;
  left: 112px;
  width: 313.97px;
  height: 69.2px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
